* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Header {
    color      : rgb(50, 50, 139);
    font-weight: 800;
}

.Red {
    color: rgb(219, 52, 52);
}

.light_Blue {
    color: rgb(125, 125, 201);
}

.Rounded-Button {
    background-color: rgb(72, 145, 212);
    color           : white;
    font-weight     : bolder;
    border-radius   : 25px;
    padding         : 5px;
}

#white_button {
    color: white;

}

h2,
h6,
h5,h3 {
    display: inline;
}

.White {
    color          : white;
    font-style     : normal;
    text-decoration: none;
}

.icon_White {
    color: white;
}

/* .Nav_items
{
    color: gray;
    font-weight:bold;
} */
/* #Nav-link 
{
    color: gray; 
    font-weight:bold; */
.nav-linkk:active {
    color: rgb(72, 145, 212);
}

.nav-linkk:hover {
    color: rgb(72, 145, 212);
}

.nav-linkk {
    display        : block;
    color          : grey;
    text-decoration: none;
    font-weight    : bold;
    transition     : color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

a {
    padding-top: 0.8rem;
}

body {
    padding-top : 1rem;
    margin-left : 5%;
    margin-right: 5%;
}

.offcanvas-backdrop {
    background-color: indigo !important;
}

.offcanvas-start {
    width: 70% !important;
}

.Margin {
    margin-top: 10%;
}
.padding_all
{
    padding: 5%;
    padding-left: 5%!important;
}
.padding {
    padding-top: 10%;
}

h1,h2 {
    display: inline;
}

/* td {
    padding: 0px;
    margin : 0%;
} */

#Corona_header {
    vertical-align: middle;
    font-size     : 400%;
    font-weight   : bolder;
    padding       : 0px;
    margin        : 0%;
    color         : rgb(50, 50, 139);
}

#Corona_td {
    vertical-align: middle;

}



#Covid_header {
    vertical-align: bottom;
    margin        : 0px;
    color         : rgb(219, 52, 52);

}

#virus_header {
    vertical-align: top;
    margin        : 0px;
    color         : rgb(50, 50, 139);
}

h3 {
    margin: 0px;
}

.flex_cont {
    display        : flex;
    flex-direction : row;
    justify-content: space-around;
}

.flex-nest {
    display       : flex;
    flex-direction: column;


}

.flex_cont_Header {
    display       : flex;
    flex-direction: row;
}

@media (max-width: 800px) {
    .flex_cont {
        flex-direction: column;
    }

    .flex_cont_Header {
        flex-direction: column;
    }
}

@media (max-width: 992px) {
    .Text-center {
        text-align: center;
    }
    .paddingcards
    {
        padding-top: 10%;
    }
}

nav,
html,
body {
    padding: 0px !important;
}

div.row {
    --bs-gutter-x: 0rem;
}

.AboutArrow {
    text-decoration: none;
}

.Numbers {
    color      : rgb(50, 50, 139);
    font-weight: bold;
}

.NumbersLab {
    color      : grey;
    font-size  : medium;
    font-weight: bold;
}

#banner_cont {
    background-color: #F7F9FE;
    background-image: url(http://frontend.projects-amit-learning.com/images/shape-a.png);
    background-size : cover;
    padding-bottom  : 5%;
}

header {
    /* background-color: #797f8f;  */
}

/* .whiteNav{
background-color: white;
  } */
.nav-colored {
    background-color: #000;
}

.nav-transparent {
    background-color: transparent;
}

.padding-bottom {
    padding-bottom: 10%;
}

.Turquise {
    color            : rgb(72, 145, 212);
    font-weight      : bold;
    margin: 0%;
    /* padding-bottom: 4%; */
}
.HRStyle
{
    border: 5px solid  rgb(38, 40, 179);

}
.Dark_Blue {
    color      : rgb(50, 50, 139);
    font-weight: bold;
    padding-top: 0%;
}

.padding-small {
    padding-top: 5%;
    padding-bottom: 5%;
}

.Dark_color {
    color: rgb(22, 22, 95);
}

.table2 {
   list-style: none;
    border    : 1px solid #e7e8ff;
   margin: 0%;
   padding-left: 0% !important;
   background-color: white;
}

.table {
    padding-top   : 0%;
    padding-bottom: 2%;
    border-bottom : 1px solid #e7e8ff;
    /* text-align    : center; */
    font-weight   : bold;
    color         :  rgb(72, 145, 212);
    
}
.tableLast {
    padding-top   : 0%;
    padding-bottom: 2%;
    border-bottom :none !important;
    font-weight   : bold;
    color         :  rgb(72, 145, 212);
}
.FlexSpaceBt
{
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
}
.AboutCorona
{
    background-color: rgba(245, 245, 245,0.6)
}
.cardPadding
{
    padding: 5%;
}
.padding-small-top
{
    padding-top: 5%;
}
.Spread
{
    background-color: rgb(241, 241, 241);
}
.fever-img {
    height: 100px;
    width: 100px;
    background: url('http://frontend.projects-amit-learning.com/images/symptom-a.png');
    background-size: cover;
    background-position: left;
    position: absolute;
    top: -25px;
    left: -25px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
     margin: 0%;  
}
.Cough-img {
    height: 100px;
    width: 100px;
    background: url('http://frontend.projects-amit-learning.com/images/symptom-b.png');
    background-size: cover;
    background-position: left;
    position: absolute;
    top: -25px;
    left: -25px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
     margin: 0%;  
}

.Breath-img {
    height: 100px;
    width: 100px;
    background: url('http://frontend.projects-amit-learning.com/images/symptom-c.png');
    background-size: cover;
    background-position: left;
    position: absolute;
    top: -25px;
    left: -25px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
     margin: 0%;  
}
.Symptoms{
    background-color: rgba(245, 245, 245,0.6)  ; 
   
}


.card{
    border: none !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


#wash
{
    height: 100px;
    width: 100px;
    background: url('http://frontend.projects-amit-learning.com/images/advice-a.png');
    background-size: cover;
    background-position: left;
    position: sticky;
    top: -25px;
    left: -25px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
     margin: 0%;
     margin-left: auto;
     margin-right: auto;
}
#social
{
    height: 100px;
    width: 100px;
    background: url('http://frontend.projects-amit-learning.com/images/advice-b.png');
    background-size: cover;
    background-position: left;
    position: sticky;
    top: -25px;
    left: -25px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
     margin: 0%;
     margin-left: auto;
     margin-right: auto;
}
#touch
{
    height: 100px;
    width: 100px;
    background: url('http://frontend.projects-amit-learning.com/images/advice-c.png');
    background-size: cover;
    background-position: left;
    position: sticky;
    top: -25px;
    left: -25px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
     margin: 0%;
     margin-left: auto;
     margin-right: auto;
}
#hygiene
{
    height: 100px;
    width: 100px;
    background: url('http://frontend.projects-amit-learning.com/images/advice-d.png');
    background-size: cover;
    background-position: left;
    position: sticky;
    top: -25px;
    left: -25px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
     margin: 0%;
     margin-left: auto;
     margin-right: auto;
}
.green
{color:green;}
.padding_3D
{
    padding-left: 1% !important;
    padding-right: 1% !important;
    padding-top: 1% !important;
}
#soap
{
    height: 100px;
    width: 100px;
    background: url('http://frontend.projects-amit-learning.com/images/hand-a.png');
    background-size: cover;
    background-position: left;
    position: sticky;
    top: -25px;
    left: -25px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
     margin: 0%;
     margin-left: auto;
     margin-right: auto;
}
#Palm
{
    height: 100px;
    width: 100px;
    background: url('http://frontend.projects-amit-learning.com/images/hand-b.png');
    background-size: cover;
    background-position: left;
    position: sticky;
    top: -25px;
    left: -25px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
     margin: 0%;
     margin-left: auto;
     margin-right: auto;
}
#fingers
{
    height: 100px;
    width: 100px;
    background: url('http://frontend.projects-amit-learning.com/images/hand-c.png');
    background-size: cover;
    background-position: left;
    position: sticky;
    top: -25px;
    left: -25px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
     margin: 0%;
     margin-left: auto;
     margin-right: auto;
}
#backH
{
    height: 100px;
    width: 100px;
    background: url('http://frontend.projects-amit-learning.com/images/hand-d.png');
    background-size: cover;
    background-position: left;
    position: sticky;
    top: -25px;
    left: -25px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
     margin: 0%;
     margin-left: auto;
     margin-right: auto;
}
#clean
{
    height: 100px;
    width: 100px;
    background: url('http://frontend.projects-amit-learning.com/images/hand-e.png');
    background-size: cover;
    background-position: left;
    position: sticky;
    top: -25px;
    left: -25px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
     margin: 0%;
     margin-left: auto;
     margin-right: auto;
}
#focus
{
    height: 100px;
    width: 100px;
    background: url('http://frontend.projects-amit-learning.com/images/hand-f.png');
    background-size: cover;
    background-position: left;
    position: sticky;
    top: -25px;
    left: -25px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
     margin: 0%;
     margin-left: auto;
     margin-right: auto;
}
.Prevention
{
    background-color: rgb(241, 241, 241); 
}